body{background-color: #f1f3f4;
}
.yahoo-logo{ margin: 15% 0% 0% 20%;
}
.nav-menu:hover{cursor: pointer;}
.search-icon{ background-color:  #5c83ff;
    border: solid  #5c83ff;
    position: absolute;
    width: 70px;
    text-align: center;
    color: #f1f3f4;
    border-top-right-radius:10% ;
    border-bottom-right-radius:10% ;
    left:  59%;
    top: 28px;
    height: 50px;  

}
.header{display: flex;
    position: relative;
    background-color: white;
    margin-bottom: 5%;
    box-shadow: 1px 1px 1px 1px #888888;
    height:150px;
}

.search{border: 1px solid   #5c83ff;
margin-top: 15%;
margin-left: 40%;
border-top-left-radius:5px;
border-bottom-left-radius: 5px;
height: 50px;
width: 300%;
}

.login img{height: 30px;
    width: 30px;
object-fit: contain;
    border-radius: 50%;
    position:absolute;
    left: 70%;
    top: 45px;
}
.bell img { left: 80%;}
.envelope img{ left: 90%;}
.login:hover{cursor: pointer;}
.lower-nav{display: flex;
    position: relative;
    left: 5%;
    background-color: #f1f3f4;
}
.lower-nav:hover{cursor: pointer;}
.column{flex: 1;
   font-weight: 700;
   font-size: 18px;
}
.box{display: flex;
    position: relative;
    left: 2%;
    margin-top: 2%;
    position: static;
    margin-left: 2%;
}
.mid{width:65% ;
   margin-right: 2%;}
   .side{display: flex;
    flex-direction: column;
    margin-bottom: 0%;
 
   }
   .last{ width: 30%;
    position: sticky;
    transform: translate(230%,-250%);
    ;
    
    
 }
.side{font-weight: 500;
    font-size: 20px;
   position: sticky;
    
}
.point{ font-weight: 700;}


.col{ float: left;
    width: 50%;

}
.row:hover{ cursor: pointer;
}
li:hover{
color: rgb(136, 9, 255);}
.weather{color: grey;

}
.score{display: flex;
    justify-content: space-between;
    transform: translate(0%,10%);
}
.t{text-decoration: underline;
color:rgb(136, 9, 255) ;}

.t:hover{cursor:pointer;

color: rgb(136, 9, 255);}
.y:hover{cursor:pointer;
    color: rgb(136, 9, 255);}
.to:hover{cursor:pointer;

        color: rgb(136, 9, 255);}
.top-img-wrapper{ display: flex;
    position: sticky;
    margin-bottom: 2%;

}
.top-img{width: 65%;
}
.top-img img{ border-top-left-radius:2% ;
border-bottom-left-radius: 2%;}
.top-img-info{background-color: rgb(182, 178, 178);
padding-top: 2%;
padding-left: 2%;
position: sticky;
border-top-right-radius:2% ;
border-bottom-right-radius: 2%;
}
a { text-decoration: none;
color: rgb(39, 38, 38);}
a:hover{ color:rgb(136, 9, 255);}
.info{font-weight: 550;
    
}
.bottom-img-wrapper{display: flex;
    height: 50%;
       
}
.bottom-img-wrapper:hover{ color:rgb(136, 9, 255) ;}
.scrol{ flex: 1;
    margin-right: 2%;
    width: 10%;
    height: 100%;
   
   
}
.scrol:last-child{margin-right: 0%;}
.scrol img{ height: 30%;
    width: 100%;
    border-radius: 5%;  
    }
    .interest-stories{transform :translateY(-55%);
    font-weight: 600;
    }
    
.interests{display: flex;
}
.interest-botton{ flex:1;
   
       
 }
 .check{ color: white;
}
button{ background-color: rgb(136, 9, 255);
width: 80%;
height: 150%;
border-top-left-radius:15px;
border-top-right-radius:15px;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
border: none;}

.stories-wrapper{ transform: translateY(10%)
    ;
 
border:none
;
}
.inner-wrapper{display: flex;
    margin-top: 3%;
    
    
    }
.stories-wrapper img{ height: 100%;
    width: 250px;
    border-top-left-radius:15px;
border-top-right-radius:15px;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
}
.inner{border:none
;
}
.inner-info{width: 250%;
margin-left: 2%;}
.min-head{color: red;}
.link{color:gray;
margin-left: 2%;}
.hovertext{position: relative;
}
.hovertext::before{ content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 200%;
background-color:rgb(81, 81, 252);
color: #fff;
text-align: center;
padding: 5px 0;
transition: opacity 1s ease-in-out;
position: absolute;
z-index: 1;
left: 0;
top: -330%;}
.hovertext:hover:before{opacity: 1;
visibility: visible;}


